.container {
    background-color: rgb(19, 18, 18);

    margin-top: 5px;

    padding: 1px;

    display:grid;

    grid-template-rows: repeat(2, 1fr);

    grid-template-columns: repeat(2,1fr);

    grid-gap: 7px;

    height: 95vh;

}
button {
    width: 100%;
}
.one {
    background-color: yellowgreen;
}
.two {
    background-color: rgb(64, 64, 206);
}
.three{
    background-color: rgb(219, 130, 145);
}
.four{
    background-color: orangered;
}
.button:active {
    background-color: blanchedalmond;
}
.active {
    background-color: rgba(8, 1, 7, 0.582);
}